.zy-main-ad-img{
	width:700px;
	height:300px !important;
}
.zy-main-catalog{
	position: relative;
	display: inline-block;
}
.zy-main-catalog-show{
	width:200px;
	background: rgb(249, 118, 29);
	color: #FFFFFF;
	position: relative;
}
.zy-main-catalog-show ul li{
	line-height: 30px;
	cursor: pointer;
}
.zy-main-catalog-show ul li:hover{
	font-size:18px;
	color:#FF0000;
}
.zy-main-catalog-hider{
	position: absolute;
	top:0;
	left:200px;
	display: none;
	width:700px;
	height: 300px;
	padding:10px 20px;
	background: #ffffff;
	z-index: 500;
}

.hider-item-inner{
	display:inline-block;
}
.inner-left{
	width:100px;
}
.inner-right{
	width:450px;
}
.hider-item-inner ul li{
	float: left;
	padding:5px;
}
/*商品楼层start*/
.zy-product-floor{
	position: relative;
}

.zy-floor-item{
	margin-top:20px ;
	height: 500px;
	width: 100%;
	box-shadow: 0px 0px 50px rgba(34, 25, 25, 0.2);
}
.zy-floor-item-title{
	font-size: 20px;
	padding:10px 20px 5px 20px;
	margin-bottom: 10px;
	border-bottom:solid 1px #dddddd ;
}
.zy-product-more{
	float: right;
	cursor: pointer;
}
.zy-floor-item-products .product-small-img{
	width:200px;
	height: 200px;
}
.floor-li-div{
	position: relative;
	display: inline-block;
	width:200px;
	height: 200px;
}
.zy-floor-item-products ul li{
	display: inline-block;
	cursor: pointer;
	margin: 0px 10px 10px 0px;
}

.zy-home-product-text{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
}
.home-product-content{
	position: relative;
	color: #eeeeee;
	background: rgba(60, 58, 58, 0.84);
	background-size: 100% 100%;
	top: 0px;
	margin: 0;
	height: 200px;
	padding:10px 5px 10px 5px;
}
.zy-home-product-text .home-product-title{
	font-size: 18px;
	margin-bottom: 10px;
}
.zy-home-product-text .home-product-old-price{
	font-size: 15px;
	color: #CB1C39;
	text-decoration: line-through;
}
.zy-home-product-text .home-product-price{
	font-size: 18px;
	color: #CB1C39;
}
/*商品楼层end*/
/*滚动楼层导航start*/
#box{
		position: fixed;
		left: 0;
		top: 160px;
		display: none;
	}
	#box ul li{
		width: 30px;
		height: 30px;
		line-height: 30px;
		border: 1px dotted #666;
		text-align: center;
		border-bottom:none;
	}
	#box ul li.last{
		border-bottom: 1px dotted #666;
	}
	#box ul li .num{
		color: #666;
		/*display: none;*/
	}
	#box ul li .word{
		display: none;
		color: #CB1C39;
	}
/*滚动楼层导航end*/